@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.App {
  width: 100%;
  .login-container {
    background-color: rgb(253, 238, 211);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 15px;
      .login-title {
        display: flex;
        align-items: center;
        grid-gap: 15px;
        justify-content: center;
        img {
          width: 50px;
        }
        h3 {
          font-weight: 700;
          font-size: 28px;
        }
      }
      .login-description {
        text-align: center;
      }
      .google-button {
        width: max-content;
        .login-button {
          background-color: #fff;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .login-info {
        font-size: 12px;
        opacity: 0.7;
      }
    }
  }
}
.header {
  background-color: rgb(253, 238, 211);
  padding: 20px;
  .nav {
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .profile {
      #basic-button {
        display: flex;
        grid-column-gap: 10px;
        align-items: center;
        .profile-logo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .profile-name {
          font-size: 12px;
        }
      }
    }
    .logo {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      img {
        width: 50px;
      }
      span {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

.user-container {
  max-width: 1270px;
  margin: 0 auto;
  .add-user-btn {
    display: flex;
    justify-content: flex-end;
  }
  .users-section {
    margin-top: 25px;
    overflow-y: auto;
    max-height: 500px;
    .user {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 15px;
      background-color: rgb(253, 238, 211);
      grid-column-gap: 15px;
      margin-bottom: 10px;
      .user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .user-name {
        font-weight: 700;
      }
      .user-email {
        font-size: 14px;
        opacity: 0.7;
      }
    }
  }
}

.presentation-container {
  width: 100%;
  background-color: rgb(253, 238, 211);
  padding: 25px 20px;
  .presentation-section {
    max-width: 1270px;
    margin: 0 auto;
    .presentation-title {
      font-size: 38px;
      font-weight: 700;
      text-align: center;
    }
    .presentation {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      height: 700px;
      .presentation-column {
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        background-color: #fff;
        padding: 20px;
        img {
          width: 128px;
          height: 128px;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .current-presentation {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.modal-container {
  margin-bottom: 10px;
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  .upload__image-wrapper {
    margin-top: 10px;
   .click-drop-button {
     margin-bottom: 15px;
     margin-right: 15px;
   } 
   .remove-images-btn {
     margin-bottom: 15px;
   }
   .image-item__btn-wrapper {
     margin-bottom: 7px;
   }
  }
}
